header {
    background-color: #f5ecec;
    display: block;
    position:static;
    height: min-content;
}

main > div > aside {
    position: fixed;
    width: 20%;
    padding:50px ;
    box-sizing: border-box;
    height: auto;
}

aside details  ul > li{
margin-left: 0;
margin-top: 10px;}

.articles{
    float: right;
    width: 78%;
    height:1500px;
    margin-bottom: 40px;
    margin-top: 40px;    
}

footer{
    clear: both;
}