.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    margin-bottom: 150px;
}
.arti {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 10px 20px;
}
.arti > img {
    width: 100%;
    height: 70%;

}
.arti img+p {
    font-family: DIN Neuzeit Grotesk,sans-serif;
    font-weight: 150;
    font-style:normal;
    color: #454545;
    letter-spacing: .2em;
    line-height: 1.65;
    font-size: medium;
    text-align: left;
    font-size: 5px;
    margin: 5px auto 0px auto;
}